name: linux test and wheels

on:
  push:
    branches: [ master ]
    tags: [ "*" ]
  pull_request:
    branches: [ master ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  schedule:
    - cron:  '15 1 * * *'

jobs:
  linux-test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        branch: [default]
    container: monetdb/dev-builds:${{ matrix.branch }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Install MonetDBe in developer mode
        run: MONETDB_BRANCH=${{ matrix.branch }} python3 -m pip install -e .[test]
      -
        name: Print version info
        run: python3 -c "from monetdbe._cffi.util import print_info; print_info()"
      -
        name: run tests
        run: py.test -vv


  linux-wheel:
    needs: linux-test
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.7"," 3.8", "3.9", "3.10", "3.11"]
        branch: [default]
    container: monetdb/dev-builds:${{ matrix.branch }}_manylinux

    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: make linux binary wheels
        run: MONETDB_BRANCH=${{ matrix.branch }} scripts/make_wheel.sh ${{ matrix.python-version }}
      -
        uses: actions/upload-artifact@v3
        name: Publish Linux binary wheels
        with:
          name: monetdbe-linux-wheel-${{ matrix.branch }}-${{ matrix.python-version }}
          path: dist/*.whl
