name: OS X wheels

on:
  push:
    branches: [ master ]
    tags: [ "*" ]
  pull_request:
    branches: [ master ]

jobs:
  osx-monetdb-Oct2020:
    runs-on: macos-10.15
    env:
      MONETDB_BRANCH: Oct2020
    steps:
      -
        name: brew packages
        run: brew install monetdb
      - 
        uses: actions/upload-artifact@v2
        with:
          name: monetdb-osx-${{ env.MONETDB_BRANCH }}
          path: /usr/local/Cellar/monetdb

  osx-monetdb-Jul2021:
    runs-on: macos-10.15
    env:
      MONETDB_BRANCH: Jul2021
    steps:
      -
        name: brew packages
        run: brew install bison
      -
        name: download MonetDB
        run: curl https://dev.monetdb.org/hg/MonetDB/archive/${{ env.MONETDB_BRANCH }}.tar.bz2 -O
      -
        name: extract MonetDB
        run: tar jxvf ${{ env.MONETDB_BRANCH }}.tar.bz2
      -
        name: build monetdb
        run: |
          mkdir MonetDB-${{ env.MONETDB_BRANCH }}/build
          cd MonetDB-${{ env.MONETDB_BRANCH }}/build
          cmake ..  -DCMAKE_INSTALL_PREFIX=/usr/local/Cellar/monetdb/11.40.1 \
            -DWITH_CRYPTO=OFF \
            -DPY3INTEGRATION=OFF \
            -DCMAKE_BUILD_TYPE=Release \
            -DASSERT=OFF \
            -DRINTEGRATION=OFF \
            -DBISON_EXECUTABLE=/usr/local/opt/bison/bin/bison
          make install -j3
      - 
        uses: actions/upload-artifact@v2
        with:
          name: monetdb-osx-${{ env.MONETDB_BRANCH }}
          path: /usr/local/Cellar/monetdb

  osx-wheel:
#    continue-on-error: true
    runs-on: macos-10.15
    strategy:
      matrix:
        python-version: [ 3.6, 3.7, 3.8, 3.9 ]
        branch: [Oct2020, Jul2021]
    env:
      MONETDB_BRANCH: ${{ matrix.branch }}
    needs: [osx-monetdb-Oct2020, osx-monetdb-Jul2021]
    steps:
      -
        name: Print MONETDB_BRANCH to make sure it is set
        run: echo $MONETDB_BRANCH
      -
        name: Checkout
        uses: actions/checkout@v2
      - 
        uses: actions/download-artifact@v2 
        with:
          name: monetdb-osx-${{ matrix.branch }}
          path: /usr/local/Cellar/monetdb
      -
        name: Homebrew link monetdb
        run: brew link monetdb
      -
        name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      -
        name: prepare virtuale env
        run: python3 -m venv venv
      -
        name: Install Python dependencies
        run: venv/bin/pip install --upgrade pip wheel delocate pytest build
      -
        name: Compile and install MonetDBe-python
        run: MONETDB_BRANCH=${{ matrix.branch }} CFLAGS="-I/usr/local/include -L/usr/local/lib" venv/bin/pip install -e ".[test]"
      -
        name: make binary wheel
        run: venv/bin/pyproject-build
      -
        name: Delocate binary wheel
        run: DYLD_LIBRARY_PATH=/usr/local/lib venv/bin/delocate-wheel -v dist/*.whl
      -
        name: Publish OS X binary wheels
        uses: actions/upload-artifact@v2
        with:
          name: monetdbe-osx-wheel-${{ matrix.branch }}-${{ matrix.python-version }}
          path: dist/*.whl
      -
        name: Print version info
        run: venv/bin/python -c "from monetdbe._cffi.util import print_info; print_info()"
      -
        name: Run pytest
        run: venv/bin/pytest
