name: Windows Test & Wheels

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  windows_wheel:
    continue-on-error: true
    runs-on: windows-2019
    env:
      branch: Oct2020
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Install choco packages
        run: |
          choco install winflexbison git unzip curl
          choco install python --version 3.8.5 --force
          choco install python --version 3.7.9 --force
          choco install python --version 3.6.8 --force
      -
        name: Install vcpkg packages
        uses: lukka/run-vcpkg@v3
        with:
          vcpkgArguments: libiconv openssl geos libxml2 pcre pcre2 zlib getopt
          vcpkgTriplet: x64-windows
          vcpkgGitCommitId: f3f329a048eaff759c1992c458f2e12351486bc7
          appendedCacheKey: ${{ hashFiles(env.vcpkgResponseFile) }}
      -
        name: Get monetdb
        run: |
          Set-Location c:\
          curl.exe https://dev.monetdb.org/hg/MonetDB/archive/${{ env.branch }}.zip -O
          unzip.exe ${{ env.branch }}.zip

      -
        name: Compile monetdb
        run: |
          mkdir c:\MonetDB-${{ env.branch }}\build
          Set-Location c:\MonetDB-${{ env.branch }}\build
          dir ..
          echo $Env:VCPKG_ROOT
          cmake -G "Visual Studio 16 2019" `
            -A x64 `
            -DCMAKE_TOOLCHAIN_FILE=..\vcpkg\scripts\buildsystems\vcpkg.cmake `
            -DCMAKE_INSTALL_PREFIX=C:\monetdb `
            -DTESTING=OFF `
            -DCMAKE_BUILD_TYPE=Release `
            -DASSERT=OFF `
            -DODBC=false `
            -DPY3INTEGRATION=OFF `
            -DINT128=OFF  ..
      -
        name: Build MonetDB
        run: |
          cmake --build . --target ALL_BUILD --parallel 4  --config Release
      -
        name: Install MonetDB
        run: |
          cmake --build . --target INSTALL  --config Release
      -
        name: Collect DLLs
        run: |
          Set-Location $GITHUB_WORKSPACE
          $VCPKG_ROOT = "c:\build\vcpkg"
          Copy-Item C:\monetdb\bin\bat.dll monetdbe\.
          Copy-Item C:\monetdb\bin\mapi.dll monetdbe\.
          Copy-Item C:\monetdb\bin\monetdb5.dll monetdbe\.
          Copy-Item C:\monetdb\bin\monetdbe.dll monetdbe\.
          Copy-Item C:\monetdb\bin\monetdbsql.dll monetdbe\.
          Copy-Item C:\monetdb\bin\stream.dll monetdbe\.
          Copy-Item $VCPKG_ROOT\installed\x64-windows\bin\libcrypto-1_1-x64.dll monetdbe\.
          Copy-Item $VCPKG_ROOT\installed\x64-windows\bin\libiconv.dll monetdbe\.
          Copy-Item $VCPKG_ROOT\installed\x64-windows\bin\libxml2.dll monetdbe\.
          Copy-Item $VCPKG_ROOT\installed\x64-windows\bin\pcre.dll monetdbe\.
          Copy-Item $VCPKG_ROOT\installed\x64-windows\bin\zlib1.dll monetdbe\.
          Copy-Item $VCPKG_ROOT\installed\x64-windows\bin\lzma.dll monetdbe\.
          Copy-Item $VCPKG_ROOT\installed\x64-windows\bin\libcharset.dll monetdbe\.
          Copy-Item $VCPKG_ROOT\installed\x64-windows\bin\bz2.dll monetdbe\.
          Copy-Item $VCPKG_ROOT\installed\x64-windows\bin\libcurl.dll monetdbe\.
      -
        name: Build binary python stuff
        run: |
          C:\Python38\python.exe -m pip install --upgrade pip wheel
          C:\Python38\python.exe setup.py build_ext `
            --include-dirs=C:\monetdb\include `
            --library-dirs=C:\monetdb\lib
      -
        name: Install python libraries
        run: |
          C:\Python38\python.exe -m pip install .[test]
# C:\Python38\Scripts\pytest.exe
      -
        name: Make wheel
        run: |
          C:\Python38\python.exe setup.py bdist_wheel
      -
        uses: actions/upload-artifact@v2
        name: Publish Windows binary wheels
        with:
          path: dist/*.whl

      - name: Publish package
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.MONETDBE_PYPI }}
