name: Windows Test & Wheels

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  windows_wheel:
    runs-on: windows-2019
    env:
      branch: Oct2020
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Install choco packages
        uses: crazy-max/ghaction-chocolatey@v1
        with:
          args: install winflexbison git wget unzip
      -
        name: Install Python 3.8
        uses: crazy-max/ghaction-chocolatey@v1
        with:
          args: install python --version 3.8 --force
      #-
      #  name: Install Python 3.6
      #  uses: crazy-max/ghaction-chocolatey@v1
      #  with:
      #    args: install python --version 3.6 --force
      -
        name: Install Python 3.7
        uses: crazy-max/ghaction-chocolatey@v1
        with:
          args: install python --version 3.7 --force

      -
        name: Install vcpkg packages
        uses: lukka/run-vcpkg@v3
        with:
          vcpkgArguments: libiconv openssl geos libxml2 pcre pcre2 zlib getopt
          vcpkgTriplet: x64-windows
          vcpkgGitCommitId: f3f329a048eaff759c1992c458f2e12351486bc7
          appendedCacheKey: ${{ hashFiles(env.vcpkgResponseFile) }}
      -
        name: Get monetdb
        run: |
          Set-Location c:\
          wget.exe -O https://dev.monetdb.org/hg/MonetDB/archive/{{ env.branch }}.zip
          unzip.exe {{ env.branch }}.zip

      -
        name: Compile monetdb
        run: |
          Set-Location c:\MonetDB-{{ env.branch }}
          cmake -G "Visual Studio 16 2019" `
            -DCMAKE_TOOLCHAIN_FILE=$VCPKG_ROOT\scripts\buildsystems\vcpkg.cmake `
            -DCMAKE_INSTALL_PREFIX=C:\monetdb -A x64 `
            -DTESTING=OFF `
            -DCMAKE_BUILD_TYPE=Release `
            -DASSERT=OFF `
            -DPY3INTEGRATION=OFF `
            -DINT128=OFF  ..
      -
        name: Install monetdb
        run: |
          cmake --build . --target ALL_BUILD --parallel 4
          cmake --build . --target INSTALL
      -
        name: Collect vsckg dlls
        run: |
          Set-Location $GITHUB_WORKSPACE
          Copy-Item $VCPKG_ROOT\installed\x64-windows\bin\*.dll monetdbe\.
          Copy-Item C:\monetdb\bin\*.dll monetdbe\.
      -
        name: Build binary python stuff
        run: |
          C:\Python38\python.exe setup.py build_ext `
            --include-dirs=C:\monetdb\include `
            --library-dirs=C:\monetdb\lib
      -
        name: Install python libraries
        run: |
          C:\Python38\python.exe -m pip install --upgrade pip
          C:\Python38\python.exe -m pip install pytest
          C:\Python38\python.exe -m pip install -e .
          # C:\Python38\Scripts\pytest.exe
      -
        name: Make wheel
        run: |
          C:\Python38\python.exe setup.py bdist_wheel
      -
        uses: actions/upload-artifact@v2
        name: Publish Windows binary wheels
        with:
          path: dist/*.whl
